@import '@marcius-capital/fonts';

.mainCole{
    position: absolute;
    display: flexbox;
    grid-gap: 10px;
    min-height: 100vh;
    width: 73%;
    height: 100%;
    left: 29%;
    top: 169px;
    font-family: 'HelveticaNeueCyr', sans-serif;
    background-color: #DDDDDD;;
    padding: 2% 10% 0% 0%;
    overflow-x: auto;
    overflow-y: scroll;
    padding: 2% 3%;
    text-align: left;
}


.colecciones{
    text-align: center;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.coleDiv{
    border-radius: 10px;
    padding: 10px;
    margin: 1%;
    height: 40%;
    width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity 0.4s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0px 8px 19px -3px rgba(0,0,0,0.58);
    -webkit-box-shadow: 0px 8px 19px -3px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 8px 19px -3px rgba(0,0,0,0.58);
}

.actDiv{
    border-radius: 10px;
    padding: 3% 4%;
    margin: 1%;
    max-height: 20%;
    width: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity 0.4s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    box-shadow: 0px 8px 19px -3px rgba(0,0,0,0.58);
    -webkit-box-shadow: 0px 8px 19px -3px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 8px 19px -3px rgba(0,0,0,0.58);
}

.infoAct{
    font-family: 'HelveticaNeueCyr', sans-serif;
    text-align: left;
    border-radius: 10px;
    padding: 0 5% 3% 5%;
    background-color: #ddddddc6;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.coleImg{
    width: 100%;
}

.btn-coleccion{
    min-width: 150px;
    width: 100%;
    height: 60px;
    margin: 0 10px 10px 0;

    text-align: center;
    border-radius: 40px;
  
    background-color: rgba(182, 182, 182, 0.804);
    box-shadow: 6px 5px 97px -24px rgba(0,0,0,0.61);
    -webkit-box-shadow: 6px 5px 97px -24px rgba(0,0,0,0.61);
    -moz-box-shadow: 6px 5px 97px -24px rgba(0,0,0,0.61);
    border:none;
    font-weight: 500;
}
.btn-coleccion:hover{
    cursor: pointer;
    transition: 300ms;
    color: white;
    background: #446276;
    cursor: pointer;
}

.btn-coleccionDelete{
    min-width: 150px;
    width: 45%;
    height: 60px;
    margin: 0 10px;

    text-align: center;
    border-radius: 40px;
  
    background-color: rgba(182, 182, 182, 0.804);
    box-shadow: 6px 5px 97px -24px rgba(0,0,0,0.61);
    -webkit-box-shadow: 6px 5px 97px -24px rgba(0,0,0,0.61);
    -moz-box-shadow: 6px 5px 97px -24px rgba(0,0,0,0.61);
    border:none;
    font-weight: 500;
}
.btn-coleccionDelete:hover{
    cursor: pointer;
    transition: 300ms;
    color: white;
    background: linear-gradient(90deg, #f4a496 0%, #ff8e3d 100%);
    cursor: pointer;
}

.btn-act{
    width: 20%;
    height: 60px;
    right: 180px;
    font-family: 'HelveticaNeueCyr', sans-serif;
  
    margin-top: 6%;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* or 100% */
  
    text-align: center;
    border-radius: 40px;
  
    background-color: rgba(94, 94, 94, 0.04);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border:none;
    transition: 800ms;
  }
  
  .btn-act:hover{
    transition: 300ms;
    color: white;
    background: linear-gradient(90deg, #f4a496 0%, #ff8e3d 100%);
    cursor: pointer;
  }

.vidDiv{
    padding: 2%;
    border-radius: 10px;
    margin: 1%;
    width: 40%;
    height: 60%;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0px 8px 19px -3px rgba(0,0,0,0.58);
    -webkit-box-shadow: 0px 8px 19px -3px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 8px 19px -3px rgba(0,0,0,0.58);
}

.vidCont{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */ 
    width: 80%;
}

.vid{
    position: absolute;
    top: 0;
    left: 15%;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.coleCont{
    padding: 3%;
    border-radius: 10px;
    margin: 1%;
    width: 30%;
    height: 50%;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0px 8px 19px -3px rgba(0,0,0,0.58);
    -webkit-box-shadow: 0px 8px 19px -3px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 8px 19px -3px rgba(0,0,0,0.58);
}

.coleCont2{
    padding: 8%;
    border-radius: 10px;
    margin: 5%;
    width: 90%;
    height: 20%;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0px 8px 19px -3px rgba(0,0,0,0.58);
    -webkit-box-shadow: 0px 8px 19px -3px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 8px 19px -3px rgba(0,0,0,0.58);
}
