.card{
    width: 100%;
    height: 30%;
    overflow-y: scroll;
    padding: 2%;

}

.h1Contenido{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;
    color: #446276;
}


.actChica{
    border-radius: 10px;
    padding: 3% 4%;
    margin: 1%;
    max-height: 20%;
    width: 20%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    box-shadow: 0px 8px 19px -3px rgba(0,0,0,0.58);
    -webkit-box-shadow: 0px 8px 19px -3px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 8px 19px -3px rgba(0,0,0,0.58);
}

.infoActChica{
    font-family: 'HelveticaNeueCyr', sans-serif;
    text-align: left;
    border-radius: 10px;
    padding: 0 5% 3% 5%;
    background-color: #ddddddc6;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.refCont{
    border-radius: 10px;
    padding: 3% 4%;
    margin: 1%;
    max-height: 30%;
    width: 20%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity 0.4s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    box-shadow: 0px 8px 19px -3px rgba(0,0,0,0.58);
    -webkit-box-shadow: 0px 8px 19px -3px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 8px 19px -3px rgba(0,0,0,0.58);
}


.cardChiquito{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 2%;

}

.actChiquito{
    border-radius: 10px;
    max-height: 5%;
    padding: 3% 4%;
    margin: 1%;
    width: 90%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    box-shadow: 0px 8px 19px -3px rgba(0,0,0,0.58);
    -webkit-box-shadow: 0px 8px 19px -3px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 8px 19px -3px rgba(0,0,0,0.58);
}

.infoActChiquito{
    font-family: 'HelveticaNeueCyr', sans-serif;
    text-align: left;
    border-radius: 10px;
    padding: 0 5% 3% 5%;
    background-color: #ddddddc6;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.actiCont{
    padding: 10%;
    border-radius: 10px;
    margin: 1%;
    width: 70%;
    height: 40%;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0px 8px 19px -3px rgba(0,0,0,0.58);
    -webkit-box-shadow: 0px 8px 19px -3px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 8px 19px -3px rgba(0,0,0,0.58);
}

.linksChiquito{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 2%;

}

.refContChiquito{
    border-radius: 10px;
    padding: 1%;
    margin: 1%;
    max-height: 10%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity 0.4s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    box-shadow: 0px 8px 19px -3px rgba(0,0,0,0.58);
    -webkit-box-shadow: 0px 8px 19px -3px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 8px 19px -3px rgba(0,0,0,0.58);
}

.btn-chiquito{
    width: 100%;
    margin: 15px 15px;

    text-align: center;
    border-radius: 40px;
    font-family: 'HelveticaNeueCyr', sans-serif;

  
    background: linear-gradient(90deg, #f4a496 0%, #ff8e3d 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border:none;
  }
  .btn-chiquito:hover{
    cursor: pointer;
    transition: 500ms;
    color: white;
    background: linear-gradient(90deg, #ff8e3d 50%, #bae847 100%);
    cursor: pointer;
  }