.homeContent{
    padding: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.homeImg{
    width: 90%;
    height: 90%;
    object-fit: xfill;
}

.home{
    position: absolute;
    width: 67%;
    height: 100%;
    left: 33%;
    top: 51px;
    font-family: 'Nats', sans-serif;
    background-color: #f5f5f5;;
    padding: 2% 5% 0% 3%;
    text-align: left;
    overflow-x: hidden;
    overflow-y: scroll;
  }