@import '@marcius-capital/fonts';

.App {
    position: absolute;
    text-align: center;
    background-color: #DDDDDD;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0; 
    right: 0;
    left: 0;
    bottom: 0;
  
  }
  
  .header{
    position: absolute;
    width: 73%;
    height: 118px;
    left: 29%;
    right: 0;
    top: 51px;
    display: flex;
    padding: 2.5%;
  
    background: #CECECE;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25);
    display: flexbox;
  }
  
  .main{
    position: absolute;
    width: 73%;
    height: 100%;
    left: 29%;
    top: 169px;
    font-family: 'HelveticaNeueCyr', sans-serif;
    background-color: #DDDDDD;;
    padding: 2% 3% 0% 3%;
    text-align: left;
    overflow-x: hidden;
    overflow: auto;
  }
  
  .sidebar{
    font-family: 'HelveticaNeueCyr', sans-serif;
    display: flex;
    flex-direction: column;
    justify-items: auto;
    align-items: flex-start;
    padding: 20px;
    gap: 116px;
  
    position: absolute;
    width: 25%;
    min-width: 200px;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 51px;
    padding: 2%;
  
    /* White */
  
    background: #FFFFFF;
  }
  
  .btn-negro{
    width: 80%;
    height: 60px;
    right: 20px;
    top: 25%;
    margin-top: 5%;
  
    margin-top: 5%;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    font-family: 'HelveticaNeueCyr', sans-serif;
  
    background: #000000;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    color: white;
    transition: 1000ms;
  
    border: none;
  }
  .btn-negro:hover{
    transition: 1000ms;
    background: linear-gradient(90deg, #446276 0%, #515151 100%);
    cursor: pointer;
  }
  
  .btn-blanco{
    width: 80%;
    height: 60px;
    right: 180px;
    font-family: 'HelveticaNeueCyr', sans-serif;
  
    margin-top: 5%;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* or 100% */
  
    text-align: center;
    border-radius: 40px;
  
    background-color: rgba(94, 94, 94, 0.04);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border:none;
    transition: 800ms;
  }
  
  .btn-blanco:hover{
    transition: 300ms;
    color: white;
    background: linear-gradient(90deg, #446276 0%, #515151 100%);
    cursor: pointer;
  }

  .btn-header{
    min-width: 150px;
    width: 60%;
    height: 60px;
    margin: 0 10px;

    text-align: center;
    border-radius: 40px;
    font-family: 'HelveticaNeueCyr', sans-serif;

  
    background: linear-gradient(90deg, #f4a496 0%, #ff8e3d 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border:none;
  }
  .btn-header:hover{
    cursor: pointer;
    transition: 500ms;
    color: white;
    background: linear-gradient(90deg, #ff8e3d 50%, #bae847 100%);
    cursor: pointer;
  }
  
  .App-logo{
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    padding: 0 15%;
  }
  
  .width100{
    width: 100%;
  }
  
  .search_input{
    min-width: 100px;
    width: 60%;
    height: 60px;
  
  
    text-align: center;
    border-radius: 40px;
  
    background-color: rgba(182, 182, 182, 0.804);
    box-shadow: 6px 5px 97px -24px rgba(0,0,0,0.61);
    -webkit-box-shadow: 6px 5px 97px -24px rgba(0,0,0,0.61);
    -moz-box-shadow: 6px 5px 97px -24px rgba(0,0,0,0.61);
    border:none;
  }
  
  .search{
    width: 100%;
    min-width: 450px;
    text-align: left;
  }
  
  .search_button{
    height: 50px;
    width: 50px;
    margin: 0 10px;
  
    background: #446276;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    color: white;
    transition: 300ms;
  
    border: none;
  }
  .search_button:hover{
    cursor: pointer;
    background: linear-gradient(90deg, #f4a496 0%, #ff8e3d 100%);
  }


  .inputFile{
    min-width: 100px;
    width: 60%;
    height: 60px;
  
  
    text-align: center;
    border-radius: 40px;
  
    background-color: rgba(182, 182, 182, 0.804);
    box-shadow: 6px 5px 97px -24px rgba(0,0,0,0.61);
    -webkit-box-shadow: 6px 5px 97px -24px rgba(0,0,0,0.61);
    -moz-box-shadow: 6px 5px 97px -24px rgba(0,0,0,0.61);
    border:none;
  }
  .inputFile:hover{
    cursor: pointer;
    transition: 500ms;
    background: linear-gradient(90deg, #446276 0%, #515151 100%);
    color: white;
    cursor: pointer;
  }

  .login{
    width: 90%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    align-items: center;
    background: linear-gradient(90deg, #446276 0%, #000000 100%);
    padding: 10% 5%;
    overflow: hidden;
  }

  .App-logo-login{
    position: absolute;
    top: 10%;
    left: 30%;
    align-self: stretch;
    flex-grow: 0;
    width: 30%;
  }

  .cont-login{
    position: absolute;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-items: auto;
    align-items: flex-start;
    left: 30%;
    width: 30%;
    top: 30%; 
    height: 25%;
    background-color: #DDDDDD;
    padding: 5%;
    box-shadow: 10px 10px 67px -19px rgba(95, 191, 255, 0.548);
  }

  .input-login{
    width: 60%;
    height: 10%;
    margin: 2% 0;
    border-radius: 20px;
    border: none;
    padding: 5%;
    font-size: 20px;
    font-family: 'HelveticaNeueCyr', sans-serif;
  }

  .btn-login{
    width: 70%;
    height: 60px;
    right: 180px;
    font-family: 'HelveticaNeueCyr', sans-serif;
  
    margin-top: 5%;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* or 100% */
  
    text-align: center;
    border-radius: 40px;
  
    background-color: rgba(94, 94, 94, 0.04);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border:none;
    transition: 800ms;
  }
  
  .btn-login:hover{
    transition: 300ms;
    color: white;
    background: linear-gradient(90deg, #f4a496 0%, #ff8e3d 100%);
    cursor: pointer;
  }
  .btn-nuevo{
    width: 50%;
    height: 60px;
    font-family: 'HelveticaNeueCyr', sans-serif;
  
    margin-top: 1%;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    /* or 100% */ 
    text-align: center;
    border-radius: 40px;
    background-color: rgba(94, 94, 94, 0.04);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border:none;
    transition: 800ms;
  }
  
  .btn-nuevo:hover{
    transition: 300ms;
    color: white;
    background: linear-gradient(90deg, #f4a496 0%, #ff8e3d 100%);
    cursor: pointer;
  }


  .input-nuevo{
    width: 50%;
    margin: 0.5% 0;
    border-radius: 20px;
    border: none;
    padding: 2%;
    font-size: 20px;
    font-family: 'HelveticaNeueCyr', sans-serif;
  }